h1{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.todo-container-items{
  text-align: left;
}

.newRow{
  margin: 10px 5px;
}

.newbtn{
  min-width: 80px;
}